*,html{margin:0; padding:0; border:0; font: normal  12px Tahoma, Geneva, sans-serif ; line-height: 1; }
html{height: 100%; }

body{ width:100%; height: 100%; min-width:1230px;}
.auth{width:100%; height: 100%;  display:table;
background: url(img/logo.png) no-repeat  600px 330px, -o-radial-gradient(#e2e3df,#dbdcd9 65%,#888887) no-repeat; 
background: url(img/logo.png) no-repeat  600px 330px,-moz-radial-gradient(#e2e3df,#dbdcd9 65%,#888887)  no-repeat;
background: url(img/logo.png) no-repeat  600px 330px,-ms-radial-gradient(#e2e3df,#dbdcd9 65%,#888887)  no-repeat;
background: url(img/logo.png) no-repeat  600px 330px,-webkit-radial-gradient(#e2e3df,#dbdcd9 65%,#888887) no-repeat;}

.no_auth{  width:100%; height: 100%;  display:table;
background: url(img/logo1.png) no-repeat  right bottom, -o-radial-gradient(#bfbfbf,#888888) no-repeat; 
background: url(img/logo1.png) no-repeat  right bottom,-moz-radial-gradient(#bfbfbf,#888888)  no-repeat;
background: url(img/logo1.png) no-repeat  right bottom,-ms-radial-gradient(#bfbfbf,#888888)  no-repeat;
background: url(img/logo1.png) no-repeat  right bottom,-webkit-radial-gradient(#bfbfbf,#888888) no-repeat;}
.page {width:100%;  padding-bottom: 10px;  margin:0 auto;}





/*верхний ряд кнопок */
.top_buttons div{ float:left;}
.top_buttons div.waiters{width:23%;}
.top_buttons div.tables{width:49%; position:relative; display:block;}
.top_buttons div.orders{width:28%; }

.top_buttons div.waiters div{width:80px;}
.top_buttons div.waiters div.select_waiter{font: normal  12px Arial,Tahoma, sans-serif ; line-height: 1.2; height: 55px; width:70px; padding: 10px 2px 5px 54px; cursor:pointer;
background: url(img/bg_select_waiter.png) no-repeat  4px 5px, -moz-linear-gradient(rgba(209, 207, 232, 0.5),rgba(63, 57, 151, 0.5) 68%, rgba(36, 54, 113, 0.5)) ;
background: url(img/bg_select_waiter.png) no-repeat  4px 5px,-ms-linear-gradient(rgba(224, 223, 239, 0.5),rgba(63, 57, 151, 0.5) 68%, rgba(36, 54, 113, 0.5));
background: url(img/bg_select_waiter.png) no-repeat  4px 5px,-o-linear-gradient(rgba(224, 223, 239, 0.5),rgba(63, 57, 151, 0.5) 68%, rgba(36, 54, 113, 0.5));
background: url(img/bg_select_waiter.png) no-repeat  4px 5px,-webkit-linear-gradient(rgba(224, 223, 239, 0.5),rgba(63, 57, 151, 0.5) 68%, rgba(36, 54, 113, 0.5));
 text-align:left;
border-radius: 0 0 10px 0;

box-shadow: 0px 0px 2px rgba(0,0,0,0.8); /* Параметры тени */
}
.top_buttons div.waiters div.one_waiter{margin: 0 0 0 20px; font: normal  13px Calibri,Arial, sans-serif ; line-height: 1; min-height: 47px; background: url(img/waiter.png) no-repeat 4px 4px;
padding: 8px 2px 5px 50px; }

.top_buttons div.tables .note{float:left; width:130px;}

.top_buttons div.tables .active .note{display:none;}

.top_buttons div.tables .active{position:absolute; clear:both; float:none; width:1100px; height:auto; top:0px; left: -250px; z-index:1000;
}
.top_buttons div.tables  .noactive  div.list_tables{display:none; float:none;}
.top_buttons div.tables  .noactive  div.list_tables div{display:none; float:none;}

/*планка выехала*/
.top_buttons .tables .active div.one_button{clear:both; float:none;
margin: 0 auto;
background:  url(img/arrow_open.png) no-repeat  20px center, url(img/r_arrow_open.png) no-repeat  right center, url(img/tables_pic.png) no-repeat  45px 5px , url(img/tables_pic2.png) no-repeat  right 15px, -moz-linear-gradient(#eeeeee, #aaaaaa) ;
background: url(img/arrow_open.png) no-repeat  20px center, url(img/r_arrow_open.png) no-repeat  right center, url(img/tables_pic.png) no-repeat  45px  5px , url(img/tables_pic2.png) no-repeat  right 15px, -ms-linear-gradient(#eeeeee, #aaaaaa) ;
background: url(img/arrow_open.png) no-repeat  20px center, url(img/r_arrow_open.png) no-repeat  right center, url(img/tables_pic.png) no-repeat  45px  5px , url(img/tables_pic2.png) no-repeat  right 15px, -o-linear-gradient(#eeeeee, #aaaaaa) ;
background: url(img/arrow_open.png) no-repeat  20px center, url(img/r_arrow_open.png) no-repeat  right center, url(img/tables_pic.png) no-repeat 45px  5px , url(img/tables_pic2.png) no-repeat  right 15px, -webkit-linear-gradient(#eeeeee, #aaaaaa) ;
}
.top_buttons div.tables  .active  div.list_tables{display:none;  position:relative;  width:100%;
background-color: #f8f8f6; border-radius: 0 0 30px 30px; box-shadow: 0px -30px  106px rgba(0,0,0,0.7) inset;
 text-shadow:none; padding: 60px 20px 20px 60px;  height:750px;
}
.top_buttons div.orders  .active div.one_button{margin: 0 auto;}
.top_buttons  .active  div.list_tables div{display:block; background:none; }
.top_buttons div.list_tables  .active   div.list-view  div.view{margin: 5px 5px; width:170px;  height: 130px; float:left;}
.top_buttons  div.list_tables .active   div.list-view div{display:block; width:auto; position:relative; height:auto; background:none; text-shadow:none; color: #000;
font: normal  18px Calibri,Arial, sans-serif ; text-align: left;}
.top_buttons  .active div.list_tables div.inner_list{position:relative; display:none; background-color: #d6d6d6; box-shadow: 1px 1px  15px rgba(0,0,0,0.7) ;  left:auto; margin:0; top:auto;
width:1056px; height:670px;}
.top_buttons  .active div.list_tables div.inner_list.active{display:block;}
.top_buttons  .active div.list_tables  .tab{position:relative; display:block; height:28px; width:157px;background-color: #fff;  font: normal 18px Arial, sans-serif ; float:left;  left:auto; 
margin:-4px 10px 0 0; top:auto; text-align:center; border-radius: 0 0 15px 15px; padding: 17px 0; box-shadow: 0px 9px  7px rgba(0,0,0,0.6) ; }
.top_buttons  .active div.list_tables  .tab.active{background-color: #d6d6d6; clear:none;}
.top_buttons  .active div.list_tables span.note{display:block; padding: 20px 0; margin: 0 0 0 20px;}
.top_buttons  .active div.list_tables  .listtabs{ float:none; width: auto; clear:both;}
.top_buttons  .active div.list_tables  .listtabs div:first-child{margin-left:70px; }
.top_buttons  .active div.list_tables div.inner_list .free_tables{float:left; width:211px; height:619px; padding: 25px 0 0 0;}
.top_buttons  .active div.list_tables div.inner_list .free_tables .view{margin: 10px 7px 10px 7px; text-align:center; text-transform:capitalize; font: normal 18px Arial, sans-serif ; width:90px;}
.top_buttons  .active div.list_tables div.inner_list .free_tables .view .all div{float:left; font: normal 12px Arial, sans-serif ; line-height:1;
background: url(img/tablefree.png) no-repeat center 2px, url(img/bgtable.png) no-repeat 5px 0; 
width:90px; height:35px; 
padding: 40px 0 0 0; text-align:center;}
.top_buttons  .active div.list_tables div.inner_list .free_tables  .view div.all{background:none;  font: normal 18px Arial, sans-serif ;}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view span.note{ font: normal 14px Arial, sans-serif ; line-height:1;
color:#818181; display:block; margin:0; padding:0; width:100%; clear:both; padding:0; margin:0;  text-align:center;}
.top_buttons  .active div.list_tables div.inner_list .all_tables {float:left; height:619px; width:836px;
background: url(img/sxema_tables1.jpg) no-repeat 0px 15px; 
background: url(img/sxema_tables1.jpg) no-repeat 0px 15px; 
padding: 25px 0 0 0;}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view{margin: 10px 7px 10px 7px; text-align:center; text-transform:capitalize; font: normal 18px Arial, sans-serif ; width:119px;}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view div{ font: normal 12px Arial, sans-serif ; line-height:1;
background: url(img/tablefree.png) no-repeat center 5px, url(img/bgtable.png) no-repeat 5px 0px; 
width:90px; height:35px; cursor:pointer;
padding: 40px 0 0 0; text-align:center;}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view div.select{
background: url(img/tablefree.png) no-repeat center 5px, url(img/bgtable_select.png) no-repeat 5px 0px; 
}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view div.selectcurrent{ 
background:  url(img/table_select.png) no-repeat center 5px,url(img/tablefree.png) no-repeat center 5px,
 url(img/bgtable_select.png) no-repeat 5px 0px ; 
}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view div.selectnosend{
background:  url(img/nosendtable.png) no-repeat center 5px,url(img/tablefree.png) no-repeat center 5px,
 url(img/bgtable_select.png) no-repeat 5px 0px; 
}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view div.selectother{
background: url(img/table_select_other.png) no-repeat center 3px,url(img/tablefree.png) no-repeat center 5px, url(img/bgtable_select_other.png) no-repeat 5px 0px; 
}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view div.checkview{ padding:0; font: normal 18px Arial, sans-serif ;
background: url(img/table_order.png) no-repeat 0px 0px; width:38px; height:42px; float:right; margin: 0 0px 0 -30px;}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view div.all{ padding:0; font: normal 18px Arial, sans-serif ;
background:none;  float:left; height:100%; clear:both; cursor:default;}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view div.checkview_open{position:absolute;
 padding:0; font: normal 18px Arial, sans-serif ; background: url(img/table_order_open.png) no-repeat 180px 2px;
 width:220px; height:auto; float:right; margin: 0 0px 0 -100px; height: 40px; z-index:2; }
.top_buttons  .active div.list_tables div.inner_list .all_tables .view  .order{position:absolute; 
width: 200px; max-height:200px; overflow:auto; background:none; margin: 23px 0px 23px -100px; height:auto;
background-color: rgba(249,249,249,0.7); border-radius: 10px;  
box-shadow: 0px 0px 13px rgba(0,0,0,0.6) inset,0px 0px  4px rgba(0,0,0,0.75) ;
 z-index:1;
padding: 15px 10px; 
}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view  .order .one_order.active{color: #f00; left:auto; top:auto; position:relative;}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view .order .one_order{background:none; width: 180px;
 padding:0; height:auto; }
.top_buttons  .active div.list_tables div.inner_list .all_tables .view div.order .one_order div{padding:0; background:none;
width:10px; height:auto; padding: 5px 5px; text-align:left;}
.top_buttons  .active div.list_tables div.inner_list .all_tables .view div.order .one_order div:first-child
{width:150px; float:left; padding: 5px 5px;}




div.note{float:left; width: 120px;  font: italic  14px Calibri,Arial, sans-serif ; color:#525151; padding: 5px 5px 5px 5px; line-height: 1;}
div.one_button {border-radius: 0 0 10px 10px; border: 1px solid #fff; border-top:none; 
 -moz-box-shadow: 0px 0px 6px rgba(0,0,0,1); /* Для Firefox */
-webkit-box-shadow:0px 0px 6px rgba(0,0,0,1); /* Для Safari и Chrome */
box-shadow: 0px 0px 6px rgba(0,0,0,1); /* Параметры тени */
background:  url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center, -moz-linear-gradient(#eeeeee, #aaaaaa);
background: url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center,-ms-linear-gradient(#eeeeee, #aaaaaa);
background: url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center,-o-linear-gradient(#eeeeee, #aaaaaa);
background: url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center,-webkit-linear-gradient(#eeeeee, #aaaaaa);
text-shadow: -1px -1px 0px rgba(0,97,197,0.75), 1px 0px 1px rgba(218,228,238,1), 0px 1px 1px rgba(218,228,238,0.75), -1px 0px 1px rgba(9,57,105,0.75), 0px -1px 1px rgba(9,57,105,0.75);
font: normal  28px Calibri,Arial, sans-serif ; color:transparent; text-transform: uppercase; text-align:center; padding: 15px 5px 5px 5px;
 line-height: 1;  text-align:center;
}
.top_buttons div.tables div.one_button{width:431px; 
background:  url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center, url(img/tables_pic.png) no-repeat  45px 5px , url(img/tables_pic2.png) no-repeat  right 15px, -moz-linear-gradient(#eeeeee, #aaaaaa) ;
background: url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center, url(img/tables_pic.png) no-repeat  45px  5px , url(img/tables_pic2.png) no-repeat  right 15px, -ms-linear-gradient(#eeeeee, #aaaaaa) ;
background: url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center, url(img/tables_pic.png) no-repeat  45px  5px , url(img/tables_pic2.png) no-repeat  right 15px, -o-linear-gradient(#eeeeee, #aaaaaa) ;
background: url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center, url(img/tables_pic.png) no-repeat 45px  5px , url(img/tables_pic2.png) no-repeat  right 15px, -webkit-linear-gradient(#eeeeee, #aaaaaa) ;}
.top_buttons div.orders div{float:none;}
.top_buttons div.orders div.one_button{width:307px; float:right ; border-radius: 0 0 0px 10px; border-right:none;
background:  url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center, url(img/order_pic.png) no-repeat  60px 10px, -moz-linear-gradient(#eeeeee, #aaaaaa);
background: url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center, url(img/order_pic.png) no-repeat  60px  10px, -ms-linear-gradient(#eeeeee, #aaaaaa);
background: url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center, url(img/order_pic.png) no-repeat  60px  10px,-o-linear-gradient(#eeeeee, #aaaaaa);
background: url(img/arrow.png) no-repeat  20px center, url(img/r_arrow.png) no-repeat  right center, url(img/order_pic.png) no-repeat  60px  10px,-webkit-linear-gradient(#eeeeee, #aaaaaa);
padding: 15px 5px 5px 25px;}

div.one_button div{position:absolute;  width:438px; height: 64px; font: normal  28px Calibri,Arial, sans-serif ; color:transparent; text-transform: uppercase; 
  margin: -61px -2px 1px -4px;
border-radius: 0 0 10px 10px;
background:  -moz-linear-gradient(95deg,rgba(255, 255, 255, 0.23) 55%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0)) ;
background: -ms-linear-gradient(95deg,rgba(255, 255, 255, 0.23) 55%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0)) ;
background: -o-linear-gradient(95deg,rgba(255, 255, 255, 0.23) 55%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0)) ;
background: -webkit-linear-gradient(95deg,rgba(255, 255, 255, 0.23) 55%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0)) ;

}
.top_buttons div.orders .one_button div {width:335px;   margin: -61px -2px 1px -24px; border-radius: 0 0 0px 10px; }
div.one_button span{display:block; margin: 0 auto; font: normal  14px Calibri,Arial, sans-serif ; color:#000000; text-transform: lowercase; text-shadow:none;}
div.one_button span:first-letter { text-transform: uppercase;}

.top_buttons div.orders .active div.one_button{
background:   url(img/arrow_open.png) no-repeat  20px center, url(img/r_arrow_open.png) no-repeat  right center,  url(img/order_pic.png) no-repeat  60px 10px, -moz-linear-gradient(#eeeeee, #aaaaaa);
background:  url(img/arrow_open.png) no-repeat  20px center, url(img/r_arrow_open.png) no-repeat  right center,  url(img/order_pic.png) no-repeat  60px  10px, -ms-linear-gradient(#eeeeee, #aaaaaa);
background:  url(img/arrow_open.png) no-repeat  20px center, url(img/r_arrow_open.png) no-repeat  right center,  url(img/order_pic.png) no-repeat  60px  10px,-o-linear-gradient(#eeeeee, #aaaaaa);
background:  url(img/arrow_open.png) no-repeat  20px center, url(img/r_arrow_open.png) no-repeat  right center,  url(img/order_pic.png) no-repeat  60px  10px,-webkit-linear-gradient(#eeeeee, #aaaaaa);
padding: 15px 5px 5px 25px;}
.top_buttons div.orders .active{position:absolute; clear:both; float:none; width:960px; height:auto; top:0px; right: 0px; z-index:1000; margin-right:100px;
}
.top_buttons div.orders  .active .one_button{margin: 0 auto; border-radius: 0 0 10px 10px; float:none;}
.top_buttons div.orders  .active .one_button div{border-radius: 0 0 10px 10px;}
.top_buttons div.orders  .noactive  div.list_orders{display:none;}
.top_buttons div.orders  .active  div.list_orders{display:block;  position:relative;  width:100%;
background-color: #f8f8f6; border-radius: 0 0 30px 30px; box-shadow: 0px -30px  106px rgba(0,0,0,0.7) inset;
 text-shadow:none; padding: 10px 20px 20px 60px;  height:850px;  overflow-y:auto;
}
.top_buttons div.orders  .active div.order_table .list_order {
    height: 300px;
    overflow-y: auto;
}
.top_buttons div.orders  .active  div.list_orders  .order_table{ height: 400px; width: 288px;}
.top_buttons div.orders  .active  div.list_orders .time{float:right; margin-right: 10px; margin-top: 5px;}


.active  div.list_orders  div.order_table .list_order div.str div.name {
    
    width: 205px;
    
}
.active  div.list_orders  div.order_table .buttons_order .ok{
box-shadow: 0px 0px 5px rgba(0,0,0,0.75), inset 0px 0px 5px rgba(0,0,0,0.75); /* Параметры тени */
background:   -moz-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -ms-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -o-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -webkit-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
 font: bold 14px Verdana,Arial, sans-serif ; color:#fff; 
line-height: 3;
    margin: 5px 5px 0 0;
    padding: 0 20px; width:auto; height:auto; border:1px solid #353535;
}
.active  div.list_orders  div.order_table .buttons_order .esc{
box-shadow: 0px 0px 5px rgba(0,0,0,0.75), inset 0px 0px 5px rgba(0,0,0,0.75); /* Параметры тени */
background:   -moz-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -ms-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -o-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -webkit-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
 font: bold 14px Verdana,Arial, sans-serif ; color:#fff;
   margin: 5px 5px 0 0; line-height: 3;
    padding: 0 10px; width:auto; height:auto; border:1px solid #353535;
}
.active  div.list_orders  div.order_table .buttons_order .calc{
box-shadow: 0px 0px 5px rgba(0,0,0,0.75), inset 0px 0px 5px rgba(0,0,0,0.75); /* Параметры тени */
background:   -moz-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -ms-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -o-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -webkit-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
 font: bold 14px Verdana,Arial, sans-serif ; color:#fff;
   margin: 5px 5px 0 0; line-height: 3;
    padding: 0 10px; width:auto; height:auto; border:1px solid #353535;
}
.active  div.list_orders  div.order_table .buttons_order div:hover { box-shadow:inset 1px 1px 5px rgba(0,0,0,0.75); }
.active  div.list_orders  div.order_table .list_order div.str div.count {
    padding: 2px 5px 2px 0;
    text-align: right;
    width: 25px;
}
.active  div.list_orders   div.order_table .summ_order .buttons_order{float:left;}
.active  div.list_orders   div.order_table .summ_order div.summ {
color:#000; 
    padding-right: 0px; line-height: 4.5;
}
.active  div.list_orders  div.order_table .summ_order {
    margin-bottom: 10px;
    padding: 5px 5px 10px 10px; height:50px;
}

.top_buttons div.orders  .active  div.list_orders .one_order{display:block; float:left; margin: 0 20px 20px 0;}
.top_buttons div.orders  .active  div.list_orders .one_orderadd{cursor:pointer; display:block; float:left; margin: 0 20px 20px 0;}
.top_buttons div.orders  .active  div.list_orders .one_orderadd .list_order{background: url(img/add.png) no-repeat center center;}
.top_buttons div.orders  .active  div.list_orders .one_order.current  .info_str{
   background: -moz-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d) repeat scroll 0 0 transparent;
   background: -ms-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d) repeat scroll 0 0 transparent;
background: -o-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d) repeat scroll 0 0 transparent;
background: -webkit-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d) repeat scroll 0 0 transparent;

}
.top_buttons div.orders  .active  div.list_orders .one_order.current  .buttons_order div{
   background: -moz-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d) repeat scroll 0 0 transparent;
   background: -ms-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d) repeat scroll 0 0 transparent;
background: -o-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d) repeat scroll 0 0 transparent;
background: -webkit-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d) repeat scroll 0 0 transparent;


}

/*список официантов */
div.listwaiters {float:left; width: auto; padding: 20px 5px 5px 20px; margin: 0 auto; }
div.listwaiters .one_cat {display:block; float:left ;}
div.listwaiters .one_cat a {display:block; 
 font: normal 18px Verdana,Arial, sans-serif ; color:#fff; border-radius: 15px;
text-decoration:none;
border: 1px #4e4e4e solid; box-shadow: 0px 0px 5px rgba(0,0,0,0.75); /* Параметры тени */
background:   -moz-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -ms-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -o-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -webkit-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
text-align:left; height:50px; padding: 15px 10px 10px 10px;  margin: 7px 10px 5px 7px; width:150px; 
}
div.listwaiters .one_cat a .checks{text-align:right; display:block; float:right; width: 80px; padding-top: 10px;}
div.listwaiters .one_cat a:hover{ box-shadow: 2px 2px 1px rgba(0,0,0,0.75) inset;}

/*форма авторизации */
.loginform {position:absolute; left:30%;}
.keyboard_window {position:absolute; left:-100px; z-index:1000; top:-100px;}

div.auth_form,
div.klava, div.itemsmode div.klava
{margin: 100px auto 100px auto; height: 403px; width: 423px;  font: normal 22px Calibri,Arial, sans-serif ; color:#fff; border-radius: 15px 15px 15px 15px;
padding: 7px;
border: 3px #fff solid; box-shadow: inset 0px 0px 68px  rgba(0,0,0,0.45), 5px 0px 30px  rgba(0,0,0,0.75);
background:    #fff ;

}
div.itemsmode div.klava {margin: 0;}
div.itemsmode div.klava:hover {box-shadow: inset 0px 0px 68px  rgba(0,0,0,0.45), 5px 0px 30px  rgba(0,0,0,0.75);}
div.auth_form span,
div.klava span
{display:block; margin: 15px center; font: normal 25px Calibri,Arial, sans-serif ;}
div.auth_form  a,
div.klava  a
{color:#fff; font: normal 10px Calibri,Arial, sans-serif ;}
div.auth_form  a:hover,
div.klava  a:hover{color:#fff;}
div.auth_form form span,
div.klava form span{display:inline;}
div.auth_form form .errorMessage{color: #f00; padding: 5px 0 2px 10px;}
div.auth_form form input,
div.klava form input
{width: 120px;}
div.auth_form form,
div.klava form
 {width:410px; margin: 0 auto;}
div.auth_form div.rememberMe input{width: auto;}
div.auth_form div,
div.klava div
{padding: 5px 0;}
div.auth_form div.buttons input,
div.klava div.buttons input
{border-radius: 15px; width: auto;
padding: 5px 10px 5px 10px; 
font: bold 34px Arial, serif ;
 border: 1px #4e4e4e solid; box-shadow: 0px 0px 5px rgba(0,0,0,0.75); /* Параметры тени */
background:   -moz-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -ms-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -o-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -webkit-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
text-align:center; text-transform:capitalize; height:76px;   color: #fff;
 
 }
 div.auth_form div.buttons input:hover,
div.klava div.buttons input:hover
 {box-shadow: 2px 2px 1px rgba(0,0,0,0.75) inset;}
 div.auth_form input#Waiter_password,
div.klava input.number {border: 1px #000 solid; box-shadow: inset 0px 0px 18px  rgba(0,0,0,0.49); float:left;
background:   -moz-linear-gradient(#dbdbdb, #d4d4d4,#fff);
background: -ms-linear-gradient(#dbdbdb, #d4d4d4,#fff);
background: -o-linear-gradient(#dbdbdb, #d4d4d4,#fff);
background: -webkit-linear-gradient(#dbdbdb, #d4d4d4,#fff);
border-radius: 15px; height:75px; width:258px; margin: 0 auto; font: normal 25px Verdana, serif ; padding: 0 5px 0 5px;
margin: 0 0 0 7px;}
 
div.auth_form .num_buttons,
div.klava .num_buttons {float:left;}
div.auth_form .num_buttons .str_num,
div.klava .num_buttons .str_num
{width:100%; clear:both; height:80px;}
div.auth_form .str_num span,
div.klava .str_num span
 {font: bold 60px Verdana, serif !important; cursor:pointer;
 text-shadow: 1px 4px 4px #e7e7e7, 0 0 0px rgba(0,0,0,0.8), 1px 4px 4px #e7e7e7;
    color: rgba(82, 82, 82, 0.5); margin: 0 auto;
	display:block; width:95px; height:80px; border-radius: 15px; float:left;
background: url(img/str_num.png) no-repeat center center; text-align:center; padding:5px 0 5px 0;}

div.auth_form .str_num span:hover,
div.klava .str_num span:hover
{background: url(img/str_num_hover.png) no-repeat center center;
text-shadow: 1px 4px 4px #a6a6a6, 0 0 0px rgba(0,0,0,0.8), 1px 4px 4px #a6a6a6;}
  div.auth_form div.buttons,
  div.klava div.buttons
  {float:right; }
 div.auth_form .back,
 div.klava .back
 {background: url(img/auth_arrow.png) no-repeat center center; float:right; display:block; width:115px; height:75px; margin: 0 auto 10px 0;}
 
 div.auth_form .info,div.klava .info{ font-weight:bold; width:110px; height: 80px; padding: 9px 0 8px 0; color: #659363; font-size:16px;}
 div.auth_form .info {height:87px; }
  div.auth_form .info:first-letter,div.klava .info:first-letter, div.auth_form .info p:first-letter,div.klava .info p:first-letter{text-transform:uppercase;}
 div.auth_form .info p,  div.klava .info p {padding: 5px 0; word-wrap : break-word;}
 div.auth_form div.buttons .str_num, div.klava div.buttons .str_num{margin-top: 8px;}
 
  div.auth_form .close,  div.klava .close{background: url(img/close.png) no-repeat center center; width:42px; height:42px; 
  position:absolute; z-index:1001; margin:-36px 0 0 413px; cursor:pointer;}
 
 
 
 /*список категорий */
div.categories
 {float:left; width: 68%; min-height: 280px; padding: 20px 5px 2px 0px;  }
div.categories .one_cat{ float:left ;     }
div.categories .one_cat  .catparent,div.categories .one_cat.active  .catparent,div.categories .one_cat:hover  .catparent,
div.categories .one_cat  .catcatparent,div.categories .one_cat.active  .catcatparent,div.categories .one_cat:hover  .catcatparent{display:none !important;}
div.categories  span.catlevel{display:none !important;}
div.categories .one_cat a{ display:block; font: normal 20px Calibri,Arial, sans-serif ; color:#fff; border-radius: 15px 15px 15px 15px; 
border: 1px #4e4e4e solid; box-shadow: 0px 0px 2px rgba(0,0,0,0.75); /* Параметры тени */
background:   url(img/pic_cat.png) no-repeat  5px center, -moz-linear-gradient(#a5a5a5, #606060,#8c8c8c);
background: url(img/pic_cat.png) no-repeat  5px center,-ms-linear-gradient(#a5a5a5, #606060,#8c8c8c);
background: url(img/pic_cat.png) no-repeat  5px center,-o-linear-gradient(#a5a5a5, #606060,#8c8c8c);
background: url(img/pic_cat.png) no-repeat  5px center,-webkit-linear-gradient(#a5a5a5, #606060,#8c8c8c);
text-align:left;  padding: 10px 5px 5px 55px;   margin: 7px 5px 5px 5px; height:35px; text-decoration:none;
}
div.categories .one_cat.active  a, div.categories .one_cat a:hover{
background:   url(img/active_pic_cat.png) no-repeat  5px 2px, -moz-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d);
background: url(img/active_pic_cat.png) no-repeat  5px 2px, -ms-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d);
background: url(img/active_pic_cat.png) no-repeat  5px 2px, -o-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d);
background: url(img/active_pic_cat.png) no-repeat  5px 2px, -webkit-linear-gradient(#7aa378,#659363, #517e4f,#5d8b5b,#6f9c6d);
box-shadow: 2px 2px 1px rgba(0,0,0,0.75) inset;
}
div.categories .level2 {max-height: 195px;  height: 195px; overflow-y:auto;  padding-bottom: 5px; display:block; width: 100%;}
div.categories .level1 .one_cat a{width:82px; margin-bottom: -15px;}
div.categories  .one_cat span, div.categories .level1 .one_cat span{display:none;}
div.categories .level1 .one_cat.active span, div.categories .level1 .one_cat:hover span{ 
display:block;  background:   url(img/bg_cat_active.png) no-repeat  bottom center; margin: 11px 0 0px 0px;   padding: 0px 0 15px 0; width: 100%;   
}
div.categories .level1 {margin: 0px 0 0px 0; height:78px;
background:  url(img/category_border.png) no-repeat   0px bottom;}
div.categories .level1 span{ }
div.curr_order {float:right; margin: 20px 10px 0 0; }


div.categories .level2 .one_cat a{width:132px; padding-left:45px; line-height: 0.7;}
div.categories .level2 .row{clear:both;}

div.categories .level3 {background:  url(img/category_border.png) no-repeat   0px top;  display:table; padding-top: 15px; width: 100%;}
div.categories .level3 .one_cat a{width:142px;  padding-left:45px; line-height: 0.7;}




/*текущий заказ */
div.order_table{ width:360px; height: 310px; box-shadow: 0 0 2px  #6b6b6b;   border-radius: 10px 10px 10px 10px;
background:   -moz-linear-gradient(rgba(234,235,234,0.7),rgba(255,255,255,0.8));
background:   -ms-linear-gradient(rgba(234,235,234,0.7),rgba(255,255,255,0.8));
background:   -o-linear-gradient(rgba(234,235,234,0.7),rgba(255,255,255,0.8));
background:   -webkit-linear-gradient(rgba(234,235,234,0.7),rgba(255,255,255,0.8));
}
div.order_table .info_str{ height:27px;  border-radius: 10px 10px 0px 0px; padding: 5px 10px; 
background:   -moz-linear-gradient(#637999,#526680, #425368);
background:   -ms-linear-gradient(#637999,#526680, #425368);
background:   -o-linear-gradient(#637999,#526680, #425368);
background:   -webkit-linear-gradient(#637999,#526680, #425368);
}
div.order_table .info_order, div.order_table .info_order_new{display:none;}
div.curr_order  .mode_order{display:none; height:32px; width:470px;   margin:0 auto;  z-index:1;}
div.curr_order  .mode_order div{opacity:0.8; float:left; width:99px;  border-radius: 5px 5px 0 0; cursor:pointer;
background:    -moz-linear-gradient(#dddddd ,#8f8f8f 50%,#c5c5c3);
background:    -webkit-linear-gradient(#dddddd ,#8f8f8f 50%,#c5c5c3);
background:    -o-linear-gradient(#dddddd ,#8f8f8f 50%,#c5c5c3);
background:    -ms-linear-gradient(#dddddd ,#8f8f8f 50%,#c5c5c3);
 margin-right:7px;
box-shadow: 1px 1px 3px  rgba(0,0,0,1); padding: 8px 5px; text-align:center;
color:#000; font: 14px Verdana;
}
div.curr_order  .mode_order div.current,div.curr_order  .mode_order div:hover{ color:#fff;
background:    -moz-linear-gradient(#7286a1 ,#66768f ,#4f637c,#42546a);
background:    -webkit-linear-gradient(#7286a1 ,#66768f ,#4f637c,#42546a);
background:    -o-linear-gradient(#7286a1 ,#66768f ,#4f637c,#42546a);
background:    -ms-linear-gradient(#7286a1 ,#66768f ,#4f637c,#42546a);
box-shadow: 0px 0px 3px  rgba(0,0,0,1), 0px 0px 3px  rgba(0,0,0,0.75) inset;
}
div.order_table .info_str div{float:left; font: normal 14px Verdana, sans-serif ; color:#fff;  }
div.order_table .info_str div.num_order{ padding: 2px 2px 2px 2px; }
div.order_table .info_str div.num_table, div.order_table .info_order div.num_table, div.order_table .info_order_new div.num_table,
div.order_table .move_order_table div.num_table{ font: normal 25px Calibri, sans-serif; margin-left: 50px; background: url(img/table.png) no-repeat  2px 0px; padding-left:40px; width: 64px; text-align:right; min-height:30px;}
div.order_table .info_str .infoadd{font: normal 25px Calibri, sans-serif; text-align:center; color:#fff;  float:none;}
div.curr_order .order_table .list_order_new{display:none;}
div.curr_order div.order_table .info_str div.modename{display:none;
 padding: 5px 20px 2px 50px;}
 div.curr_order div.order_table .info_str div.modename:first-letter{text-transform:uppercase;}
div.order_table .info_str div.change_button{ float:right; font: normal 12px Arial, sans-serif; text-transform:capitalize; padding: 4px 5px 4px 5px; margin: 2px 2px 2px 2px; cursor:pointer;
box-shadow: 1px 1px 3px  rgba(0,0,0,0.7); border: 1px solid #fff; border-radius: 6px; text-transform:capitalize;
background:   -moz-linear-gradient(#7286a1,#66768f, #4f637c,#42546a);
background:   -ms-linear-gradient(#7286a1,#66768f, #4f637c,#42546a);
background:   -o-linear-gradient(#7286a1,#66768f, #4f637c,#42546a);
background:   -webkit-linear-gradient(#7286a1,#66768f, #4f637c,#42546a); 
}
div.order_table .info_str div.change_button:hover{ 
box-shadow: 2px 2px 3px  rgba(0,0,0,0.7) inset; }

div.order_table .info_str div.ready_button{display:none;}

div.order_table .list_order{overflow-y: auto; height:240px;}
div.order_table .list_order div.str {border-collapse:collapse; width:100%; text-align:left;   border-bottom: 1px #c4c4c4 solid; min-height:20px; display:table;}
div.order_table .list_order div.str.current {background:#92a1b7;}
div.order_table .list_order div.str div {float:left; padding: 2px 7px 2px 15px;  border-left: 1px #c4c4c4 solid;  
min-height:16px; font: normal 12px Verdana, sans-serif; text-transform:capitalize; height:100%; }
div.order_table .list_order div.str div:first-child {border-left:none;}
div.order_table .list_order div.str.send div.name {color:#000; }
div.order_table .list_order div.str div.name {color:#ff0000; width:185px; max-width:225px;}
div.order_table .list_order div.str div.summ {color:#c00202; width:50px;}
div.order_table .list_order div.str div.esc, div.order_table .list_order div.str div.add,  div.order_table .list_order div.str div.other{display:none;}
 div.order_table .list_order div.str div.was_count{display:none;}
 div.order_table .list_order div.str div.count{width:25px; padding: 2px 5px 2px 0; text-align:right;}
div.order_table .summ_order {padding: 12px 15px 20px 15px; margin-bottom: 20px;}
div.order_table .summ_order div{float:left; font: normal 14px Verdana, sans-serif ;}
div.order_table .summ_order div.time{ color:#817b7b;}
div.order_table .summ_order div.summ{ float:right; color:#000; padding-right:40px;}
div.order_table .list_order div.str div.str_right,div.order_table .list_order div.str div.str_left, div.order_table  div.move_order_table {display:none;}

/*кнопки текущего заказа*/
div.buttons_order div{float:left; width:75px; height:50px; border-radius: 10px 10px 10px 10px; margin: 10px 0 0 0;}
div.buttons_order div.ok{ background:   url(img/ok.png) no-repeat  center center, -moz-linear-gradient(rgba(30,255,0,1),rgba(15,109,0,0.7)); float:left;
background:   url(img/ok.png) no-repeat  center center, -ms-linear-gradient(rgba(30,255,0,1),rgba(15,109,0,0.7));
background:   url(img/ok.png) no-repeat  center center, -o-linear-gradient(rgba(30,255,0,1),rgba(15,109,0,0.7));
background:   url(img/ok.png) no-repeat  center center, -webkit-linear-gradient(rgba(30,255,0,1),rgba(15,109,0,0.7));
 box-shadow: 1px 1px 2px  rgba(0,0,0,0.7) inset, 1px 1px 3px  rgba(0,0,0,0.7) ; cursor:pointer;} 
div.buttons_order div.esc{  margin-left: 10px; float:left;
background:   url(img/esc.png) no-repeat  center center, -moz-linear-gradient(rgba(255,216,0,1),rgba(109,85,0,0.7));
background:   url(img/esc.png) no-repeat  center center, -ms-linear-gradient(rgba(255,216,0,1),rgba(109,85,0,0.7));
background:   url(img/esc.png) no-repeat  center center, -o-linear-gradient(rgba(255,216,0,1),rgba(109,85,0,0.7));
background:   url(img/esc.png) no-repeat  center center, -webkit-linear-gradient(rgba(255,216,0,1),rgba(109,85,0,0.7));
 box-shadow: 1px 1px 2px  rgba(0,0,0,0.7) inset, 1px 1px 3px  rgba(0,0,0,0.7) ; cursor:pointer;
}
div.buttons_order div.calc{height:20px;  margin-top: 10px; font: normal 18px Arial, sans-serif; color:#fff; text-transform:capitalize; width:150px; padding: 15px 0px 15px 0px ; text-align:center;
background:    -moz-linear-gradient(rgba(114,134,161,0.9) ,rgba(102,118,143,0.9) 53% ,rgba(79,99,124,0.9) 49% ,rgba(66,84,106,0.9) );
background:    -o-linear-gradient(rgba(114,134,161,0.9) ,rgba(102,118,143,0.9) 53% ,rgba(79,99,124,0.9) 49% ,rgba(66,84,106,0.9) );
background:    -ms-linear-gradient(rgba(114,134,161,0.9) ,rgba(102,118,143,0.9) 53% ,rgba(79,99,124,0.9) 49% ,rgba(66,84,106,0.9) );
background:    -webkit-linear-gradient(rgba(114,134,161,0.9) ,rgba(102,118,143,0.9) 53% ,rgba(79,99,124,0.9) 49% ,rgba(66,84,106,0.9) );
 box-shadow: 1px 1px 2px  rgba(0,0,0,0.7) inset, 1px 1px 3px  rgba(0,0,0,0.7) ; cursor:pointer;
}
div.curr_order  div.order_table  div.transmit_order_table{display:none;}

/*режим изменения текущего заказа */
div.curr_order.change {position:absolute; z-index:999; float:none; right: 0px; top:30px; width: 554px; }
div.curr_order.change .order_table{ width:554px; min-height:618px; height:auto;  max-height:818px; clear:both; position:absolute; z-index:2; 
margin: 0px auto auto auto;
background:  rgba(255,255,255,1);
}
div.curr_order.change .order_table .list_order{max-height:728px; height:auto; min-height:528px;}
div.order_table .info_str div.ready_button{ text-transform:capitalize; float:right; font: normal 12px Arial, sans-serif; text-transform:capitalize; padding: 4px 5px 4px 5px; margin: 2px 2px 2px 2px; cursor:pointer;
box-shadow: 1px 1px 3px  rgba(0,0,0,0.7); border: 1px solid #fff; border-radius: 6px;
background:   -moz-linear-gradient(#7286a1,#66768f, #4f637c,#42546a);
background:   -ms-linear-gradient(#7286a1,#66768f, #4f637c,#42546a);
background:   -o-linear-gradient(#7286a1,#66768f, #4f637c,#42546a);
background:   -webkit-linear-gradient(#7286a1,#66768f, #4f637c,#42546a);
}
div.order_table .info_str div.ready_button:hover{ 
box-shadow: 2px 2px 3px  rgba(0,0,0,0.7) inset; }
div.curr_order.change div.order_table .info_str div.ready_button{display:block;}
div.curr_order.change div.order_table .info_str div.change_button{display:none;}
div.curr_order.change div.order_table .list_order div.str { height:35px;}
div.curr_order.change div.order_table .list_order div.str div { padding: 7px 7px 7px 15px;   
min-height:20px;}
div.curr_order.change div.order_table .list_order div.str div.esc{display:block; width:60px; padding:4px 2px 4px 2px; text-align:center; margin: 3px 2px 2px 7px; height:auto;
  font: normal 14px Arial, sans-serif; color:#fff; border-radius: 6px; cursor:pointer;
  background:    -moz-linear-gradient(#eb1d1d ,#e30202 ,#560000);
background:    -webkit-linear-gradient(#eb1d1d ,#e30202 ,#560000);
background:    -o-linear-gradient(#eb1d1d ,#e30202 ,#560000);
background:    -ms-linear-gradient(#eb1d1d ,#e30202 ,#560000);
box-shadow: 0px 0px 3px  rgba(0,0,0,1);
  }
  div.curr_order.change div.order_table .list_order div.str div.other{ display:block; width:60px; padding:4px 2px 4px 2px; text-align:center; margin: 3px 2px 2px 7px;
  }
div.curr_order.change div.order_table .list_order div.str div.add{display:block; width:70px; border-left:none;  padding:4px 2px 4px 2px; text-align:center; margin: 3px 2px 2px 7px; height:auto;
  font: normal 14px Arial, sans-serif; color:#fff; border-radius: 6px;
  background:    -moz-linear-gradient(#34b30d ,#006613); cursor:pointer;
background:    -webkit-linear-gradient(#34b30d ,#006613);
background:    -o-linear-gradient(#34b30d ,#006613);
background:    -ms-linear-gradient(#34b30d ,#006613);
box-shadow: 0px 0px 3px  rgba(0,0,0,1); 
}
div.curr_order.change div.order_table .list_order div.str div.esc:hover,
div.curr_order.change div.order_table .list_order div.str div.add:hover
{box-shadow: 2px 2px 7px  rgba(0,0,0,0.75) inset; }
div.curr_order.change div.order_table .list_order div.str div.name {width:225px; border-left:none;}
div.curr_order.change div.order_table .list_order div.str div.summ {width:50px; }
div.curr_order.change  .mode_order{display:block;}
 div.curr_order.change div.order_table  .info_str div.modename{display:block;}


 
 
div.curr_order.change  .buttons_order{display:none;}


/*режим разделения текущего заказа */
div.curr_order.divide {position:absolute; z-index:999; float:none; right: 0px; top:30px; width: 754px; }
div.curr_order.divide .order_table{ width:754px; min-height:618px; height:auto;  max-height:818px; clear:both; position:absolute; z-index:2; background:  rgba(255,255,255,0.8); 
margin: 0px auto auto auto;

}
div.curr_order.divide div.order_table .list_order{overflow-x: hidden; max-height:700px;
height:auto; min-height:428px; margin: 5px 20px 20px 20px;
float:left; border:1px solid #6b6b6b; box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
border-radius:20px; background-color:rgba(224,224,224,0.8); overflow-y:auto;}
div.curr_order.divide div.order_table .list_order_new{overflow-y: auto; max-height:700px; overflow-x: hidden;}
div.curr_order.divide div.order_table .info_order {display:block; float:left;
font: normal  14px Verdana, serif ; color:#000000; height:30px; margin: 10px 0 5px 0; text-align:center; width:40%; padding: 0 0 0 40px;}
div.curr_order.divide div.order_table .info_order_new {display:block; float:left;
font: normal  14px Verdana, serif ; color:#000000; height:30px; margin: 10px 0 5px 0; text-align:center; width:40%; padding: 0 0 0 40px;}
div.curr_order.divide div.order_table .info_order .num_table{float:right;}
div.curr_order.divide div.order_table .info_order_new .num_table{float:right; padding-left:45px;}
div.curr_order.divide div.order_table .info_order_new .select_table{width:70px; height:30px; text-align:center; color:#454545;
font: 14px Verdana,serif; line-height:2; padding:0 2px;
background:    -moz-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
background:    -ms-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
background:   -o-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
background:    -webkit-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
 box-shadow: 1px 1px 3px  rgba(0,0,0,0.7) ; border-radius:5px;}
 div.curr_order.divide div.order_table .info_order_new .select_table:hover {box-shadow: inset 0px 0px 5px  rgba(0,0,0,0.7) ;}
div.curr_order.divide div.order_table .info_str div.ready_button{display:block;}
div.curr_order.divide div.order_table .info_str div.change_button{display:none;}

div.curr_order.divide div.order_table .list_order div.str { height:35px; width:320px; max-width:340px;}
div.curr_order.divide div.order_table .list_order div.str div { padding: 10px 5px 7px 5px;   min-height:20px;}
div.curr_order.divide div.order_table .list_order div.str div.name { padding: 10px 5px 7px 20px; 
-moz-user-select: none; color:#ff0000; width:205px; max-width:215px;
-khtml-user-select: none; 
user-select: none; cursor:pointer;}

div.curr_order.divide .order_table .list_order_new{display:block; float:left; margin: 5px 20px 20px 20px;  height:auto; min-height:428px; border:1px solid #6b6b6b; border-radius:25px; background-color:rgba(224,224,224,0.8);  box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}
div.curr_order.divide div.order_table .list_order_new div.str div { padding: 10px 5px 7px 5px;   min-height:20px; width:320; max-width:340px;}
div.curr_order.divide div.order_table .list_order_new div.str div.name { padding: 10px 5px 7px 20px;
color:#ff0000; width:175px; max-width:185px; -moz-user-select: none;
-khtml-user-select: none;
user-select: none;  cursor:pointer;}

div.curr_order.divide div.order_table .info_str div.modename{display:block;
 padding: 5px 20px 2px 50px;}
div.curr_order.divide  .mode_order{display:block;} 
div.curr_order.divide  .mode_order { margin: 0 0px 0 242px;} 
 div.curr_order.divide  .summ_order{display:none;}
 div.curr_order.divide div.order_table  .info_str div.modename{display:block;}

div.order_table .list_order_new div.str {border-collapse:collapse;  text-align:left;   border-bottom: 1px #c4c4c4 solid; min-height:20px; height:35px; width:320px; max-width:340px; display:table;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;    }
div.order_table .list_order_new div.str div {float:left;   border-left: 1px #c4c4c4 solid;  
font: normal 14px Verdana, sans-serif; text-transform:capitalize; padding: 7px 7px 7px 7px;   
min-height:20px;}
 div.curr_order.divide  div.order_table .list_order  div.str div.summ{display:none;}
 div.curr_order.divide  div.order_table .list_order_new  div.str div.summ{display:none;}

div.order_table .list_order_new div.str div:first-child {border-left:none;}
div.order_table .list_order_new div.str.send div.name {color:#000; }


div.order_table .list_order_new div.str div.summ {color:#c00202; width:40px;}
div.order_table .list_order_new div.str div.esc, div.order_table .list_order_new div.str div.add{display:none;}
 div.order_table .list_order_new div.str div.was_count{display:none;}
 div.order_table .list_order_new div.str div.count{width:25px;  text-align:right;}

 div.curr_order.divide .order_table .info_order_new .listOfTables{
 position:absolute;
  background-color: #F8F8F6;
    border-radius: 20px;
    box-shadow: 0 0px 26px rgba(0, 0, 0, 0.7) inset;
    display: block;
    min-height: 200px;
    
    padding: 20px 10px 20px 10px;
    width: 250px;
	margin-left:-150px;
	margin-top:2px;
 }

div.curr_order.divide .order_table .info_order_new .listOfTables div.inner_list{position:relative; display:none; background-color: #d6d6d6; box-shadow: 1px 1px  15px rgba(0,0,0,0.7) ;  left:auto; margin:0 auto; top:auto;
width:240px; min-height: 200px;
    }
div.curr_order.divide .order_table .info_order_new .listOfTables div.inner_list.active{display:block;}
div.curr_order.divide .order_table .info_order_new .listOfTables  .tab{position:relative; display:block; height:28px; width:70px;background-color: #fff;  font: normal 14px Arial, sans-serif ; float:left;  left:auto; 
margin:0px 10px 0 0; top:auto; text-align:center; border-radius: 0 0 15px 15px; padding: 5px 0; box-shadow: 0px 9px  7px rgba(0,0,0,0.6) ; }
div.curr_order.divide .order_table .info_order_new .listOfTables  .tab.active{background-color: #d6d6d6; clear:none;}
div.curr_order.divide .order_table .info_order_new .listOfTables span.note{display:block; padding: 60px 0 20px 0; margin: 0 0 0 20px;}
div.curr_order.divide .order_table .info_order_new .listOfTables  .listtabs{ float:none; width: auto; clear:both; margin:0 auto;}
div.curr_order.divide .order_table .info_order_new .listOfTables  .listtabs div:first-child{ margin-left:5px;}
div.curr_order.divide .order_table .info_order_new .listOfTables div.inner_list .all_tables .view span.note{ font: normal 14px Arial, sans-serif ; line-height:1;
color:#818181; display:block; margin:0; padding:0; width:100%; clear:both; padding:0; margin:0;  text-align:center;}
div.curr_order.divide .order_table .info_order_new .listOfTables div.inner_list .all_tables { width:240px; height: 200px;
    background: #fff; padding: 25px 0 0 0; overflow-y:auto;}
div.curr_order.divide .order_table .info_order_new .listOfTables div.inner_list .all_tables .view{margin: 10px 7px 10px 7px; text-align:center; text-transform:capitalize; font: normal 18px Arial, sans-serif ; width:89px; float:left;}
div.curr_order.divide .order_table .info_order_new .listOfTables div.inner_list .all_tables .view div{ font: normal 12px Arial, sans-serif ; line-height:1;
background: url(img/tablefree.png) no-repeat center 5px, url(img/bgtable.png) no-repeat 5px 0px; 
width:90px; height:35px; cursor:pointer;
padding: 40px 0 0 0; text-align:center;}
div.curr_order.divide .order_table .info_order_new .listOfTables div.inner_list .all_tables .view div.select{
background: url(img/tablefree.png) no-repeat center 5px, url(img/bgtable_select.png) no-repeat 5px 0px; 
}
div.curr_order.divide .order_table .info_order_new .listOfTables div.inner_list .all_tables .view div.selectcurrent{ 
background:  url(img/table_select.png) no-repeat center 5px,url(img/tablefree.png) no-repeat center 5px,
 url(img/bgtable_select.png) no-repeat 5px 0px ; 
}
div.curr_order.divide .order_table .info_order_new .listOfTables div.inner_list .all_tables .view div.selectnosend{
background:  url(img/nosendtable.png) no-repeat center 5px,url(img/tablefree.png) no-repeat center 5px,
 url(img/bgtable_select.png) no-repeat 5px 0px; 
}
div.curr_order.divide .order_table .info_order_new .listOfTables div.inner_list .all_tables .view div.selectother{
background: url(img/table_select_other.png) no-repeat center 3px,url(img/tablefree.png) no-repeat center 5px, url(img/bgtable_select_other.png) no-repeat 5px 0px; 
} 
div.curr_order.divide .order_table .info_order_new .listOfTables div.inner_list .all_tables .view div.all{ padding:0; font: normal 18px Arial, sans-serif ;
background:none;  float:left; height:100%; clear:both; cursor:default;}
 div.curr_order.divide .order_table .info_order_new  .statustable,  
 div.curr_order.divide .order_table .info_order_new  .countcheckstable,
  div.curr_order.divide .order_table .info_order_new  .check_idtable{display:none;}
 
  div.curr_order.divide  div.order_table  .list_order div.str div.str_right{display:block; background:url(img/divide_left.png) no-repeat  center center; width:25px; height:100%; 
  padding:0; height:35px; cursor:pointer;}
  div.curr_order.divide  div.order_table .list_order_new  div.str div.str_left{display:block;  background:url(img/divide_right.png) no-repeat center 7px; width:25px; height:100%; 
  border-left:none; padding:0 0 0 30px;  height:35px; cursor:pointer;}
  div.curr_order.divide  div.order_table .list_order_new div.str  div.name{border-left:none;}
 div.curr_order.divide  div.order_table .list_order  div.str.send div.name,  div.curr_order.divide  div.order_table .list_order_new  div.str.send div.name{color:#000;}
 
 div.curr_order.divide  div.order_table .list_order div.str.hover{ display:block; border:1px #c4c4c4 solid; background-color: rgba(224, 224, 224, 0.8); padding:10px 5px;
  height:26px; width:280px;  font: 14px Verdana,sans-serif; position:absolute;}
 div.curr_order.divide  div.order_table .list_order div.str.hover .name{width:auto;}
 div.curr_order.divide  div.order_table .list_order div.str.hover .str_right{display:none;}
 
 
/*режим переноса текущего заказа */ 
div.curr_order.move {position:absolute; z-index:999; float:none; top:30px; right: 0px; width: 554px; }
div.curr_order.move .order_table{ width:554px; min-height:618px; height:auto;  max-height:818px; clear:both; position:absolute; z-index:2; background:  rgba(255,255,255,0.8); 
margin: 0px auto auto auto;
}
div.curr_order.move div.order_table .info_order {display:block; 
font: normal  14px Verdana, serif ; color:#000000; height:30px; margin: 10px 0 5px 0; text-align:center;  padding: 0 0 0 40px;} 
 div.curr_order.move  .mode_order{display:block;}
 div.curr_order.move  div.order_table .info_str div.ready_button{display:block;}
div.curr_order.move  div.order_table .info_str div.change_button{display:none;}
div.curr_order.move  .order_table .list_order{max-height:628px; height:auto; min-height:428px; margin: 5px 20px;
 border:1px solid #6b6b6b; box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
border-radius:20px; background-color:rgba(224,224,224,0.8); overflow-y:auto;
}
div.curr_order.move  div.order_table .list_order div.str { height:35px; }
div.curr_order.move  div.order_table .list_order div.str div { padding: 10px 5px 7px 5px;   min-height:20px;}
div.curr_order.move  div.order_table .list_order div.str div.name { padding: 10px 5px 7px 20px; max-width:350px;  width:350px;}
div.curr_order.move div.order_table .info_order .num_table{float:right; padding-right:40px;}
div.curr_order.move  div.order_table  div.move_order_table {display:block; 
font: normal  14px Verdana, serif ; color:#000000; height:30px; margin: 10px 0 10px 0; text-align:center;  padding: 0 40px 0 230px;}
div.curr_order.move  div.order_table  div.move_order_table  .num_table{width:70px; float:right;}
div.curr_order.move div.order_table .move_order_table .select_table{width:70px; height:30px; text-align:center; color:#454545;
font: 14px Verdana,serif; line-height:2; padding:0 2px;
background:    -moz-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
background:    -ms-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
background:   -o-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
background:    -webkit-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
 box-shadow: 1px 1px 3px  rgba(0,0,0,0.7) ; border-radius:5px;}
 div.curr_order.move div.order_table .move_order_table .select_table:hover {box-shadow: inset 0px 0px 5px  rgba(0,0,0,0.7) ;}
  div.curr_order.move .order_table .move_order_table .listOfTables{
 position:absolute;
  background-color: #F8F8F6;
    border-radius: 20px;
    box-shadow: 0 0px 26px rgba(0, 0, 0, 0.7) inset;
    display: block;
    min-height: 200px;
    
    padding: 20px 10px 20px 10px;
    width: 250px;
	margin-left:-200px;
	margin-top:-400px;
 }

div.curr_order.move .order_table .move_order_table .listOfTables div.inner_list{position:relative; display:none; background-color: #d6d6d6; box-shadow: 1px 1px  15px rgba(0,0,0,0.7) ;  left:auto; margin:0 auto; top:auto;
width:240px; min-height: 200px;
    }
div.curr_order.move .order_table .move_order_table .listOfTables div.inner_list.active{display:block;}
div.curr_order.move .order_table .move_order_table .listOfTables  .tab{position:relative; display:block; height:28px; width:70px;background-color: #fff;  font: normal 14px Arial, sans-serif ; float:left;  left:auto; 
margin:0px 10px 0 0; top:auto; text-align:center; border-radius: 0 0 15px 15px; padding: 5px 0; box-shadow: 0px 9px  7px rgba(0,0,0,0.6) ; }
div.curr_order.move .order_table .move_order_table .listOfTables  .tab.active{background-color: #d6d6d6; clear:none;}
div.curr_order.move .order_table .move_order_table .listOfTables span.note{display:block; padding: 60px 0 20px 0; margin: 0 0 0 20px;}
div.curr_order.move .order_table .move_order_table .listOfTables  .listtabs{ float:none; width: auto; clear:both; margin:0 auto;}
div.curr_order.move .order_table .move_order_table .listOfTables  .listtabs div:first-child{ margin-left:5px;}
div.curr_order.move .order_table .move_order_table .listOfTables div.inner_list .all_tables .view span.note{ font: normal 14px Arial, sans-serif ; line-height:1;
color:#818181; display:block; margin:0; padding:0; width:100%; clear:both; padding:0; margin:0;  text-align:center;}
div.curr_order.move .order_table .move_order_table .listOfTables div.inner_list .all_tables { width:240px; height: 200px;
    background: #fff; padding: 25px 0 0 0; overflow-y:auto;}
div.curr_order.move .order_table .move_order_table .listOfTables div.inner_list .all_tables .view{margin: 10px 7px 10px 7px; text-align:center; text-transform:capitalize; font: normal 18px Arial, sans-serif ; width:89px; float:left;}
div.curr_order.move .order_table .move_order_table .listOfTables div.inner_list .all_tables .view div{ font: normal 12px Arial, sans-serif ; line-height:1;
background: url(img/tablefree.png) no-repeat center 5px, url(img/bgtable.png) no-repeat 5px 0px; 
width:90px; height:35px; cursor:pointer;
padding: 40px 0 0 0; text-align:center;}
div.curr_order.move .order_table .move_order_table .listOfTables div.inner_list .all_tables .view div.select{
background: url(img/tablefree.png) no-repeat center 5px, url(img/bgtable_select.png) no-repeat 5px 0px; 
}
div.curr_order.move .order_table .move_order_table .listOfTables div.inner_list .all_tables .view div.selectcurrent{ 
background:  url(img/table_select.png) no-repeat center 5px,url(img/tablefree.png) no-repeat center 5px,
 url(img/bgtable_select.png) no-repeat 5px 0px ; 
}
div.curr_order.move .order_table .move_order_table .listOfTables div.inner_list .all_tables .view div.selectnosend{
background:  url(img/nosendtable.png) no-repeat center 5px,url(img/tablefree.png) no-repeat center 5px,
 url(img/bgtable_select.png) no-repeat 5px 0px; 
}
div.curr_order.move .order_table .move_order_table .listOfTables div.inner_list .all_tables .view div.selectother{
background: url(img/table_select_other.png) no-repeat center 3px,url(img/tablefree.png) no-repeat center 5px, url(img/bgtable_select_other.png) no-repeat 5px 0px; 
} 
div.curr_order.move .order_table .move_order_table .listOfTables div.inner_list .all_tables .view div.all{ padding:0; font: normal 18px Arial, sans-serif ;
background:none;  float:left; height:100%; clear:both; cursor:default;}
 div.curr_order.move .order_table .move_order_table  .statustable,  
 div.curr_order.move .order_table .move_order_table  .countcheckstable,
  div.curr_order.move .order_table .move_order_table  .check_idtable{display:none;}
 
 
 /*режим передачи текущего заказа */ 
div.curr_order.transmit {position:absolute; z-index:999; float:none; top:30px; right: 0px; width: 554px; }
div.curr_order.transmit .order_table{ width:554px; min-height:618px; height:auto;  max-height:818px; clear:both; position:absolute; z-index:2; background:  rgba(255,255,255,0.8); 
margin: 0px auto auto auto;
}
div.curr_order.transmit div.order_table .info_order {display:block; 
font: normal  14px Verdana, serif ; color:#000000; height:30px; margin: 10px 0 5px 0; text-align:center;  padding: 0 0 0 40px;} 
 div.curr_order.transmit  .mode_order{display:block;}
 div.curr_order.transmit  div.order_table .info_str div.ready_button{display:block;}
div.curr_order.transmit  div.order_table .info_str div.change_button{display:none;}
div.curr_order.transmit  .order_table .list_order{max-height:628px; height:auto; min-height:428px; margin: 5px 20px;
 border:1px solid #6b6b6b; box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
border-radius:20px; background-color:rgba(224,224,224,0.8); overflow-y:auto;
}
div.curr_order.transmit  div.order_table .list_order div.str { height:35px; }
div.curr_order.transmit  div.order_table .list_order div.str div { padding: 10px 5px 7px 5px;   min-height:20px;}
div.curr_order.transmit  div.order_table .list_order div.str div.name { padding: 10px 5px 7px 20px; max-width:350px;  width:350px;}
div.curr_order.transmit div.order_table .info_order .waiter{float:right; padding-right:40px;}
div.curr_order.transmit div.order_table .info_order .num_table{float:right; padding-right:40px;}
div.curr_order.transmit  div.order_table  div.transmit_order_table {display:block; 
font: normal  14px Verdana, serif ; color:#000000; height:30px; margin: 10px 0 5px 0; text-align:center;  padding: 0 40px 0 230px;}
div.curr_order.transmit  div.order_table  div.transmit_order_table  .waiter{width:70px; float:right; font: normal 25px Calibri, sans-serif; margin-top: -10px;}
div.curr_order.transmit div.order_table .transmit_order_table .select_waiter{width:70px; height:30px; text-align:center; color:#454545;
font: 14px Verdana,serif; line-height:2; padding:0 2px;
background:    -moz-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
background:    -ms-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
background:   -o-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
background:    -webkit-linear-gradient(#c5c5c3,#8f8f8f, #dddddd);
 box-shadow: 1px 1px 3px  rgba(0,0,0,0.7) ; border-radius:5px;}
 div.curr_order.transmit div.order_table .transmit_order_table .select_waiter:hover {box-shadow: inset 0px 0px 5px  rgba(0,0,0,0.7) ;}
  div.curr_order.transmit .order_table .transmit_order_table .listOfWaiters{
 position:absolute;
  background-color: #F8F8F6;
    border-radius: 20px;
    box-shadow: 0 0px 26px rgba(0, 0, 0, 0.7) inset;
    display: block;
    min-height: 200px;
    max-height:400px;
	overflow-y:auto;
    padding: 20px 10px 20px 10px;
    width: 300px;
	margin-left:-300px;
	margin-top:-480px;
 }

 
div.curr_order.transmit .order_table .transmit_order_table .listOfWaiters div.inner_list{position:relative; display:none; background-color: #d6d6d6; box-shadow: 1px 1px  15px rgba(0,0,0,0.7) ;  left:auto; margin:0 auto; top:auto;
width:240px; min-height: 200px;
    }
div.curr_order.transmit .order_table .transmit_order_table .listOfWaiters div.inner_list.active{display:block;}

div.curr_order.transmit .order_table .transmit_order_table .listOfWaiters span.note{display:block; padding: 60px 0 20px 0; margin: 0 0 0 20px;}

div.curr_order.transmit .order_table .transmit_order_table .listOfWaiters div.inner_list .all_tables .view span.note{ font: normal 14px Arial, sans-serif ; line-height:1;
color:#818181; display:block; margin:0; padding:0; width:100%; clear:both; padding:0; margin:0;  text-align:center;}
div.curr_order.transmit .order_table .transmit_order_table .listOfWaiters div.inner_list .all_tables { width:240px; height: 200px;
    background: #fff; padding: 25px 0 0 0; overflow-y:auto;}



/* режим расчета заказа */
div.curr_order.countorder {position:absolute; z-index:999; float:none; top:30px; right: 0px; width: 800px; }
div.curr_order.countorder .order_table{ width:800px; min-height:618px; height:auto;  max-height:818px; clear:both; position:absolute; z-index:2; background:  #e5e5e5; box-shadow: 1px 1px 5px rgba(0,0,0,0.75);
margin: 0px auto auto auto; border: 1px solid #6b6b6b;
}
div.curr_order.countorder .order_table  .right_col{width:420px; float:left; height:618px; max-height:818px;
}
div.curr_order.countorder .order_table  .left_col{width:362px; float:right; height:617px; max-height:817px; background:  #fff;
border-radius: 0 0 10px 10px; box-shadow: 1px 1px 3px rgba(0,0,0,0.75);}
 
 
 
 
div.curr_order.countorder .order_table div.info_str .esc_button {text-transform:capitalize; float:right; font: normal 12px Arial, sans-serif; text-transform:capitalize; padding: 4px 5px 4px 5px; margin: 2px 2px 2px 2px; cursor:pointer;
box-shadow: 1px 1px 3px  rgba(0,0,0,0.7); border: 1px solid #fff; border-radius: 6px;
background:   -moz-linear-gradient(#7286a1,#66768f, #4f637c,#42546a);
background:   -ms-linear-gradient(#7286a1,#66768f, #4f637c,#42546a);
background:   -o-linear-gradient(#7286a1,#66768f, #4f637c,#42546a);
background:   -webkit-linear-gradient(#7286a1,#66768f, #4f637c,#42546a);} 
div.curr_order.countorder .order_table div.info_str .esc_button:hover{ 
box-shadow: 2px 2px 3px  rgba(0,0,0,0.7) inset; }
div.curr_order.countorder .order_table div.info_str .time{margin-left: 130px;}
div.curr_order.countorder .order_table div.info_str  .hall{float:left; margin-left: 150px;}
div.curr_order.countorder .order_table div.info_str  div.num_table{margin-left: 80px; line-height:1;}
 div.curr_order.countorder div.order_table .info_str div{line-height:1.5;}
 
div.curr_order.countorder .order_table  .left_col .bottom_block {background:#e1e1e1; padding: 10px 10px 10px 10px; display:table; width: 342px; margin-top:20px;}
div.curr_order.countorder .order_table  .left_col .bottom_block .count_peoples{float:left; width:80px; font: 14px Verdana,sans-serif; }
div.curr_order.countorder .order_table  .left_col .bottom_block .count_peoples span{display:block; text-align:center;}
div.curr_order.countorder .order_table  .left_col .bottom_block .counters_summ{float:right; width:90px; text-align:right;}
div.curr_order.countorder .order_table  .left_col .bottom_block  div.summ {
    color: #000000;
    float: none;
}
div.curr_order.countorder .order_table  .left_col .counters_summ .service_order{padding-top:15px;}
div.curr_order.countorder .order_table  .left_col .bottom_block .counters_summ div{visibility:hidden;}
div.curr_order.countorder .order_table  .left_col .bottom_block .counters_summ div.summ_order, div.curr_order.countorder .order_table  .left_col .bottom_block .counters_summ 
div.summ_order div{visibility:visible;}
div.curr_order.countorder .order_table  .left_col .bottom_block .counters_name_block{float:left; width:170px; font: 14px Verdana,sans-serif; text-align:right; }
div.curr_order.countorder .order_table  .left_col .bottom_block .counters_summ .info_part{display:inline;}
div.curr_order.countorder .order_table  .left_col .bottom_block div div, div.curr_order.countorder .order_table  .left_col .bottom_block div div span{ font: 14px Verdana,serif;
    margin-bottom: 10px;
    padding: 0px;}
div.curr_order.countorder .order_table  .left_col .bottom_block .count_peoples span {font: 16px Verdana,serif;}

div.curr_order.countorder .order_table  .left_col  .summ_order_all{  margin: 10px 40px 10px 10px; float:right; font: 28px Verdana,serif;}
div.curr_order.countorder .order_table  .left_col  .summ_order_all .summ{  font: 28px Verdana,serif;}
div.curr_order.countorder .order_table  .left_col  .summ_order_all .summ span{  font: 28px Verdana,serif;}
 
 
div.curr_order.countorder .order_table  .right_col>div{width:97%; border-radius: 15px; box-shadow: 0px 0px 2px  rgba(0,0,0,0.7);
background:   -moz-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
background:   -ms-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
background:   -o-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
background:   -webkit-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
height:137px;
margin: 8px 10px 8px 15px;
}

div.curr_order.countorder .order_table  .right_col div span{font: normal 18px Arial, sans-serif; line-height: 2.8; padding-left: 25px;} 
 div.curr_order.countorder .order_table  .right_col div span:firs-letter{text-transform:capitalize;}
 
div.curr_order.countorder .order_table  .right_col div.count_discount  .disscounts{width:390px; height:60px; 
border: 1px solid #000; margin: 0 auto; border-radius:30px; box-shadow: 0px 0px 3px  rgba(0,0,0,0.7);
background:   -moz-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
background:   -ms-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
background:   -o-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
background:   -webkit-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
}

div.curr_order.countorder .order_table  .right_col div.count_discount  .disscounts div{float:left;  cursor:pointer;
font: normal 20px Arial, sans-serif; line-height: 3; text-align:left; width:45px; padding-left:6px;  }
 div.curr_order.countorder .order_table  .right_col div.count_discount  .disscounts div.line,
 div.curr_order.countorder .order_table  .right_col div.count_discount  .disscounts div.line:hover
 {width:1px; padding:0;
 border-right:none; box-shadow: 0px 0px 4px  rgba(0,0,0,0.3);  border: 1px solid #6b6b6b; border-radius:2px;
 height: 58px;
 background: rgba(255,255,255,0.5);}
 div.curr_order.countorder .order_table  .right_col div.count_discount  .disscounts div:hover,
 div.curr_order.countorder .order_table  .right_col div.count_discount  .disscounts div.active
{display:block; color:#fff;
box-shadow: -2px 2px 1px rgba(0,0,0,0.4) inset;
background:   -moz-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -ms-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -o-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -webkit-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
}

 div.curr_order.countorder .order_table  .right_col div.count_discount  .disscounts div:first-child
 { border-radius:30px 0 0 30px; font: normal 25px Arial, sans-serif; line-height: 2.4;  padding-top:0;
 text-transform:lowercase;}
 div.curr_order.countorder .order_table  .right_col div.count_discount  .disscounts div:last-child{border-radius:0 30px 30px 0;
 padding-right: 16px; padding-left:5px;}

div.curr_order.countorder .order_table  .right_col div.count_people  .peoples{width:390px; height:60px; 
border: 1px solid #000; margin: 0 auto; border-radius:30px; box-shadow: 0px 0px 3px  rgba(0,0,0,0.7);
background:   -moz-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
background:   -ms-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
background:   -o-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
background:   -webkit-linear-gradient(rgba(221,221,221,0.9), rgba(143,143,143,0.9), rgba(197,197,195,0.9));
}

div.curr_order.countorder .order_table  .right_col div.count_people  .peoples .outercount{float:left; overflow: hidden; width:300px;
height:60px;}
div.curr_order.countorder .order_table  .right_col div.count_people  .peoples .listpeoples{  margin-left:0px;}
div.curr_order.countorder .order_table  .right_col div.count_people  .peoples .listpeoples div,
div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div.first,
div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div.arrow,
div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div.backarrow,
div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div.keyboard
{float:left;  cursor:pointer;
font: normal 25px Arial, sans-serif; line-height: 1; text-align:center; width:42px; padding-left:4px; padding-bottom:7px;
padding-top: 10px;}
div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div>span{ padding-left:0;
font: normal 18px Arial, sans-serif; line-height: 1; }
 div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div.line,
  div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div.line:hover
 {width:1px; padding:0; float:left;
 border-right:none; box-shadow: 0px 0px 4px  rgba(0,0,0,0.3);  border: 1px solid #6b6b6b; border-radius:2px;
 height: 58px;
 background: rgba(255,255,255,0.5);}
 div.curr_order.countorder .order_table  .right_col div.count_people  .peoples .listpeoples div:hover,
 div.curr_order.countorder .order_table  .right_col div.count_people  .peoples  div.first:hover,
 div.curr_order.countorder .order_table  .right_col div.count_people  .peoples .listpeoples div.active,
 div.curr_order.countorder .order_table  .right_col div.count_people  .peoples  div.first.active
 
{display:block; color:#fff;
box-shadow: -2px 2px 1px rgba(0,0,0,0.4) inset;
background:   -moz-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -ms-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -o-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -webkit-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
}

 div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div.first,
  div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div.backarrow

 { border-radius:30px 0 0 30px;  padding-bottom:0px; font: normal 25px Arial, sans-serif; line-height: 2.4;  padding-top:0;
 text-transform:lowercase;}
 div.curr_order.countorder .order_table  .right_col div.count_people  .peoples>div:last-child{border-radius:0 30px 30px 0;
 padding-right: 16px; padding-left:5px; padding-bottom:0px; padding-top:0;} 
 div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div.arrow 
 { background: url(img/arrow_peoples.png) no-repeat center left; width:40px; height: 58px; padding:0; box-shadow:none; 

 }
  div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div.backarrow
 { background: url(img/arrow_peoples_back.png) no-repeat center left; width:40px; height: 58px; padding:0; box-shadow:none; 

 }
   div.curr_order.countorder .order_table  .right_col div.count_people  .peoples div.keyboard
 { background: url(img/calculator.png) no-repeat center left; width:40px; height: 58px; padding:0; box-shadow:none; 

 }
 div.curr_order.countorder .order_table  .right_col div.print{color:#fff; border-radius: 15px; width:190px;
 box-shadow: 0px 0px 5px rgba(0,0,0,0.5); float:left; font: normal 24px Arial, serif; text-align:center;
background:   -moz-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -ms-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -o-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
background: -webkit-linear-gradient(#7286a1, #66768f 53%,#4f637c 49%,#42546a);
padding: 20px 0 0 0; height:100px; margin: 30px 10px 8px 15px;
} 
 div.curr_order.countorder .order_table  .right_col div.print:hover{box-shadow: 0px 0px 5px rgba(0,0,0,0.4) inset;}
 div.curr_order.countorder .order_table  .right_col div.print#exit {float:right; margin-right:0;}
 div.curr_order.countorder .order_table  .right_col div.print span{display:block; font: normal 13px Arial, serif;
 padding: 40px 0 0 0;}
 
  div.curr_order.countorder .order_table  .right_col div.count_params div{float:left; width: 120px; margin: 5px 5px 5px 5px;}
  div.curr_order.countorder .order_table  .right_col div.count_params div div{float:none;
 width:75px; height:31px;   

background:     url(img/arrow_mode_order.png) no-repeat  42px center, -moz-linear-gradient(#d5d5d5,#cfcfcf,#c2c2c2 ,#b4b4b4 ,#b1b1b1 );
background:     url(img/arrow_mode_order.png) no-repeat  42px center, -ms-linear-gradient(#d5d5d5,#cfcfcf,#c2c2c2 ,#b4b4b4 ,#b1b1b1 );
background:     url(img/arrow_mode_order.png) no-repeat  42px center, -o-linear-gradient(#d5d5d5,#cfcfcf,#c2c2c2 ,#b4b4b4 ,#b1b1b1 );
background:     url(img/arrow_mode_order.png) no-repeat  42px center, -webkit-linear-gradient(#d5d5d5,#cfcfcf,#c2c2c2 ,#b4b4b4 ,#b1b1b1 );
 box-shadow: 1px 1px 2px  rgba(0,0,0,0.7) inset ;
 border-radius: 20px 20px 20px 20px; text-align:right; padding: 12px 20px 0 20px;}
  
 div.curr_order.countorder .order_table  .right_col div.count_params div span{font: bold 14px Arial, serif;  padding: 5px 0 0 5px; text-align:center;
 display:block; height:50px;}
  div.curr_order.countorder .order_table  .right_col div.count_params div div.param_mode span{text-transform:uppercase;font: bold 17px Arial, sans-serif ; color:#404040; text-shadow: 2px 2px 2px rgba(255,255,255,0.2); }

 div.curr_order.countorder .order_table  .right_col div.count_params div div.param_mode2{ width:75px; height:31px;   

background:     url(img/arrow_mode_order2.png) no-repeat  52px 14px, -moz-linear-gradient(#878787,#7b7b7b,#717171 );
background:     url(img/arrow_mode_order2.png) no-repeat  52px 14px, -ms-linear-gradient(#878787,#7b7b7b,#717171 );
background:     url(img/arrow_mode_order2.png) no-repeat  52px 14px, -o-linear-gradient(#878787,#7b7b7b,#717171 );
background:     url(img/arrow_mode_order2.png) no-repeat  52px 14px, -webkit-linear-gradient(#878787,#7b7b7b,#717171 );
 box-shadow: 1px 1px 2px  rgba(0,0,0,0.7) inset ;
 border-radius: 20px 20px 20px 20px; text-align:left; padding: 12px 30px 0 10px;
}
div.curr_order.countorder .order_table  .right_col div.count_params div div span {
    color: #404040; display:inline;
    font: bold 17px Arial,sans-serif;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
}
 div.curr_order.countorder .order_table  .right_col div.count_params div div a {display:block; position:relative; background:    url(img/button_mode_order.png) no-repeat -2px center; width:55px; height:51px; margin:-36px 0 0 -23px; padding:0;}
div.curr_order.countorder .order_table  .right_col div.count_params div div a.right{background-position: 4px center;}
 
div.modes{float:left; width: 68%; padding: 10px 5px 5px 0px; }
div.modes div{float:left;}


/*кнопка режимов заказ/отмена */
div.modes .mode_order{width:266px; height:84px; background-color: rgba(255,255,255,0.5);  border-radius: 0px 10px 10px 0px; border: 1px solid #979797;}
div.modes .mode_order a{text-decoration:undeline; font: italic  13px Calibri,Arial, sans-serif ; color:#656363;font-weight: bold ; text-transform:capitalize; padding-left: 2px;}
div.modes .mode_order span.links{padding-left: 110px;}
.page div.modes .mode_order a.cancel, div.modes .mode_order a.cancel:hover{text-decoration:none; font-weight:normal; padding-left: 2px;}
 div.modes .mode_order a:hover{text-decoration:none; font-weight:bold  ;}

div.modes .mode_order .note{font: normal  16px Calibri,Arial, sans-serif ; color:#000000; padding: 15px 10px 5px 40px; float:left; width:50px; }
div.modes .mode_order .name_mode{margin: 15px 10px 5px 10px; width:105px; height:31px;   float:left; 

background:     url(img/arrow_mode_order.png) no-repeat  42px center, -moz-linear-gradient(#d5d5d5,#cfcfcf,#c2c2c2 ,#b4b4b4 ,#b1b1b1 );
background:     url(img/arrow_mode_order.png) no-repeat  42px center, -ms-linear-gradient(#d5d5d5,#cfcfcf,#c2c2c2 ,#b4b4b4 ,#b1b1b1 );
background:     url(img/arrow_mode_order.png) no-repeat  42px center, -o-linear-gradient(#d5d5d5,#cfcfcf,#c2c2c2 ,#b4b4b4 ,#b1b1b1 );
background:     url(img/arrow_mode_order.png) no-repeat  42px center, -webkit-linear-gradient(#d5d5d5,#cfcfcf,#c2c2c2 ,#b4b4b4 ,#b1b1b1 );
 box-shadow: 1px 1px 2px  rgba(0,0,0,0.7) inset ;
 border-radius: 20px 20px 20px 20px; text-align:right; padding: 12px 20px 0 20px;
}
div.modes .mode_order .ui-slider span{text-transform:uppercase;font: bold 17px Arial, sans-serif ; color:#404040; text-shadow: 2px 2px 2px rgba(255,255,255,0.2); }

div.modes .mode_order .name_mode2{margin: 15px 10px 5px 10px; width:105px; height:31px;   float:left; 

background:     url(img/arrow_mode_order2.png) no-repeat  82px 14px, -moz-linear-gradient(#878787,#7b7b7b,#717171 );
background:     url(img/arrow_mode_order2.png) no-repeat  82px 14px, -ms-linear-gradient(#878787,#7b7b7b,#717171 );
background:     url(img/arrow_mode_order2.png) no-repeat  82px 14px, -o-linear-gradient(#878787,#7b7b7b,#717171 );
background:     url(img/arrow_mode_order2.png) no-repeat  82px 14px, -webkit-linear-gradient(#878787,#7b7b7b,#717171 );
 box-shadow: 1px 1px 2px  rgba(0,0,0,0.7) inset ;
 border-radius: 20px 20px 20px 20px; text-align:left; padding: 12px 30px 0 10px;
}
div.modes .mode_order  a.ui-slider-handle {display:block; position:relative; background:    url(img/button_mode_order.png) no-repeat -2px center; width:55px; height:51px; margin:-36px 0 0 -23px; padding:0;}
div.modes .mode_order .name_mode2  a.ui-slider-handle { margin:-36px  0px 0 -16px; padding:0;}



/*переключатель режимов списка */
div.modes .list_conf{width:200px; height:70px; margin: 20px 0px 0px 80px; }
div.modes .list_conf div{float:left; width:50px; height:35px; margin: 0px 5px 0px 5px; background-color: #bdbdbc; box-shadow: 1px 1px 2px  rgba(0,0,0,0.7) inset ;
 border-radius: 5px; padding: 6px 2px 8px 3px;}
div.modes .list_conf div.list_three{padding: 6px 2px 8px 4px; width:49px; height:35px;}
div.modes .list_conf div.list_four{padding: 3px 2px 8px 4px; height:38px; width:48px;}

 div.modes .list_conf div div{float:left; border: 1px solid rgba(165,165,164,0.8); padding:0; background-color: rgba(255,255,255,0.6); box-shadow:none;}
div.modes .list_conf div.list_one div{width:18px; height:12px; margin: 2px 2px 2px 2px;  border-radius: 4px; }
div.modes .list_conf div.list_three div{ width:11px; height:8px; margin: 1px 1px 1px 1px;  border-radius: 3px; } 
 div.modes .list_conf div.list_four div{ width:7px; height:6px; margin: 1px 1px 1px 1px; border-radius: 2px; }
 
div.modes .list_conf span{ text-align:center; display:block; clear:both; padding: 2px 2px 2px 2px; font: normal  14px Calibri,Arial, sans-serif ; color:#000000;}
div.modes .list_conf span:first-letter {text-transform:uppercase;}
div.modes .list_conf div.active, div.modes .list_conf div:hover{
background:    -moz-linear-gradient(#637999,#51647f,#425368);
background:    -o-linear-gradient(#637999,#51647f,#425368);
background:    -ms-linear-gradient(#637999,#51647f,#425368);
background:    -webkit-linear-gradient(#637999,#51647f,#425368);}

div.modes .list_conf div:hover div{background:    rgba(255,255,255,0.6);}



.listwaiters div.items{height:auto;}


/*список товаров */
div.items{height: 510px; overflow: auto; word-wrap: break-word;
     width: auto;  margin: 5px 10px 5px 10px; padding-right:10px; }
	 div .items  span.catsel{display:none !important;}
div.items span{display:block; font: normal  16px Calibri,Arial, sans-serif ; color:#000000; margin: 5px 0px 5px 0px;}
div.items div{ margin: 0px 0px 2px 2px; float:left; }
div.items .one_item  div{float:none; }
div.items  .one_item div.top_part{}
div.items  .one_item div.top_part p {font: normal  14px Calibri,Arial, sans-serif ; line-height: 1;}
div.items  .one_item div.col {font-size:16px;}



/* режим списка товаров 1*/
div.items .mode_list_one .one_item{ width:142px; height:60px;  border-radius: 10px; font: normal  14px Calibri,Arial, sans-serif ;
 box-shadow: 1px 1px 8px  rgba(0,0,0,0.7) inset, 5px 5px 4px  rgba(0,0,0,0.7)  ; border:1px solid #353535;
background:-moz-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-ms-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-o-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-webkit-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a ); margin: 5px 5px; -moz-user-select: none;}
div.items .mode_list_one .one_item a {text-decoration: none; display:block; color:#fff; text-align:center; padding: 7px 18px 5px 18px;}
div.items .mode .one_item a:first-letter{font-size: 1.5em;}
div.items .mode_list_one .one_item div.top_part{height:35px; clear:both; border-radius: 0px; background-color:none; border:none; color:#000; margin: 0 0 2px 0;}
div.items .mode_list_one .one_item div{    border: 1px solid #00880d; border-radius: 0px; color:#878787; padding: 1px 1px; }
div.items .mode_list_one .one_item div span{display:inline; color:#950000;}
div.items .mode_list_one .one_item div.art{ display:block; max-width:62px;  float:left; text-align:left;  color:#000; background-color:rgba(211,211,211,0.7); border:none; ; margin: 0 0 0px -1px; }
div.items .mode_list_one .one_item div.price{display:block; position:relative; max-width:52px;  float:right; margin: 0 -1px 0px 0;text-align:right; color:#000; background-color:rgba(211,211,211,0.7); border:none;}
div.items .mode_list_one .one_item div.col{display:block; background-color:none; position:relative; border:none; margin: 0 auto; width: 60px; text-align:center;  color:#000000; font-weight:bold;}


/* режим списка товаров 3*/
div.items .mode_list_three .one_item{ width:97px; height:60px; border-radius: 10px; font: normal  14px Calibri,Arial, sans-serif ;
 box-shadow: 1px 1px 8px  rgba(0,0,0,0.7) inset, 5px 5px 4px  rgba(0,0,0,0.7)  ; border:1px solid #353535;
background:-moz-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-ms-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-o-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-webkit-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a ); margin:5px;}
div.items .mode_list_three .one_item a{text-decoration: none; display:block; text-align:center; color:#fff; padding: 7px 5px 5px 5px;}
div.items .mode_list_three .one_item div.top_part{height:35px; clear:both; border-radius: 0px; background-color:none; border:none; color:#000; margin: 0 0 2px 0;}
div.items .mode_list_three .one_item div{    border: 1px solid #00880d; border-radius: 0px; color:#878787; padding: 1px 1px; }
div.items .mode_list_three .one_item div span{display:inline; color:#950000;}
div.items .mode_list_three .one_item div.art{ display:none;  }
div.items .mode_list_three .one_item div.price{display:none; }
div.items .mode_list_three .one_item div.col{display:block; position:relative; margin: 0 auto; background-color:none; position:relative; border:none;  width: 45px; text-align:center;  color:#000000; font-size:16px; font-weight:bold;}

/* режим списка товаров 4*/
div.items .mode_list_four .one_item{ width:80px; height:60px;  border-radius: 10px; font: normal  14px Calibri,Arial, sans-serif ;
 box-shadow: 1px 1px 8px  rgba(0,0,0,0.7) inset, 5px 5px 4px  rgba(0,0,0,0.7)  ; 
 border:1px solid #353535;
background:-moz-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-ms-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-o-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-webkit-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a ); margin:5px;
}
div.items .mode_list_four .one_item a{text-decoration: none; display:block; text-align:center; padding: 7px 5px 5px 5px; color:#fff;}
div.items .mode_list_four .one_item div.top_part{height:35px; clear:both; border-radius: 0px; background-color:none; border:none; color:#000; margin: 0 0 2px 0;}
div.items .mode_list_four .one_item div{    border: 1px solid #00880d; border-radius: 0px; color:#878787; padding: 1px 1px; }
div.items .mode_list_four .one_item div span{display:inline; color:#878787;}
div.items .mode_list_four .one_item div.art{ display:none;  }
div.items .mode_list_four .one_item div.price{display:none; }
div.items .mode_list_four .one_item div.col{display:none;}


/*режимы отображения одного товара*/


div.items div .one_item.current, div.items div .one_item:hover{ background:#caccff; border: 1px solid rgba(0,136,13,1); box-shadow: 1px 1px 8px  rgba(0,0,0,0.7) inset, 5px 5px 4px  rgba(0,0,0,0.7)  ;}
div.items div .one_item.hover{ background:#A17272;  border:1px solid #353535; box-shadow: 1px 1px 8px  rgba(0,0,0,0.7) inset, 5px 5px 4px  rgba(0,0,0,0.7)  ;}
 
div.items div .one_item.current a, div.items div .one_item:hover a{  color:#000;}
div.items div .one_item.current div.art, div.items div .one_item.current   div.price,div.items div .one_item:hover div.art,div.items div .one_item:hover div.price{  background-color:rgba(255,255,255,0.7); 
border: 1px solid rgba(0,136,13,0.7); color: rgba(135,135,135,1);}
 div.items div .one_item.current  div span, div.items div .one_item:hover div span{  color: rgba(135,135,135,1);}

div.itemsmode{position:absolute; width:173px; height:51px;  z-index:1000;}
div.itemsmode>div{float:left; width:40px; height:40px; border-radius: 10px; border: 1px solid rgba(53,53,53,0.9); box-shadow: 0 0 5px rgba(0,0,0,0.75) inset, 0 0 3px rgba(0,0,0,0.75); text-align:center; font: normal 48px/0.8 Arial,serif; color:#fff;
margin-right:6px;}
div.itemsmode div.countitem,div.itemsmode div.countitem:hover{width:auto; border:none; box-shadow:none; border-radius:0; font-size: 20px; color:#000; line-height:2;}
div.itemsmode div.del_item{line-height:0.6;
background:-moz-linear-gradient(#a17272 0,#8f6666 49% ,#7c4f4f 53%,#6a4242 100% );
background:-ms-linear-gradient(#a17272 0,#8f6666 49% ,#7c4f4f 53%,#6a4242 100% );
background:-o-linear-gradient(#a17272 0,#8f6666 49% ,#7c4f4f 53%,#6a4242 100% );
background:-webkit-linear-gradient(#a17272 0,#8f6666 49% ,#7c4f4f 53%,#6a4242 100% );}
div.itemsmode div.klava_icon{ background: url(img/calculator.png) no-repeat center center, -moz-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background: url(img/calculator.png) no-repeat center center, -ms-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background: url(img/calculator.png) no-repeatleft center, -o-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background: url(img/calculator.png) no-repeat center center, -webkit-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );}
div.itemsmode div.add_item{background:-moz-linear-gradient(#a17272 0,#8f6666 49% ,#7c4f4f 53%,#6a4242 100% );
background:-ms-linear-gradient(#a17272 0,#8f6666 49% ,#7c4f4f 53%,#6a4242 100% );
background:-o-linear-gradient(#a17272 0,#8f6666 49% ,#7c4f4f 53%,#6a4242 100% );
background:-webkit-linear-gradient(#a17272 0,#8f6666 49% ,#7c4f4f 53%,#6a4242 100% );}
 div.itemsmode>div:hover {box-shadow: 1px 1px 5px rgba(0,0,0,0.75) inset;}
 div.itemsmode span.itemid{display:none;}
 
/*режим отмены*/
div.items.noactive div .one_item.current{ background:#ffc6c6;}
div.items.noactive div .one_item {opacity:0.3;}
div.items.noactive div .one_item.current {opacity:1;}
div.items.noactive div .one_item:hover{ border:1px solid #353535;
background:-moz-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-ms-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-o-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );
background:-webkit-linear-gradient(#7286a1,#66768f 49% ,#4f637c 53%,#42546a );}
div.items.noactive div .one_item:hover a{  color:#fff;}
div.items.noactive div .one_item:hover div.art,div.items.noactive div .one_item:hover div.price{ color:#000; background-color:rgba(211,211,211,0.7);  border:none;}
div.items.noactive div .one_item:hover div span{  color:#950000;}


/*скролл для хрома */
::-webkit-scrollbar {
    width: 36px; 
}
::-webkit-scrollbar-track {
   background: url(img/top_arrow.png) no-repeat scroll center top, url(img/bottom_arrow.png) no-repeat scroll center bottom, -webkit-linear-gradient(#B2B2B2, #C2C2C2, #D3D3D3) repeat scroll 0 0 transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: url(img/line_scroll.png) no-repeat center center rgba(97, 119, 151, 0.8);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

/*лоадер*/
.progressbar {display:none; position:absolute; margin:0px; top:100px; left:0; width:100%;height:100%; background:url(img/ajax-loader.gif) no-repeat 50% 20%; z-index: 100000;}
.clearall{clear:both;}